
#invoke_feedback_form_button {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.halasz_file_selector {
    margin-top: 1px;
    margin-bottom: -1px !important;
}

#btn-halasz-inform {
    margin: 0px;
    width: 100%;
}

#halasz_screenshot {
    width: 100%;
}

.form-group--error input, .form-group--error textArea {
    border: 1px solid #D51616;
    background-color: #eed3d7;
}

.form-group--error .form__error {
    font-weight: bold;
    color: #D51616;
}

.halaszFlashSuccess, .halaszFlashError {
    color: white;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
}

.halaszFlashSuccess {
    background-color: #79bb37;
}

.halaszFlashError {
    background-color: #f2016d;
}
